@charset "utf-8";
/* CSS Document */
/*==============清除默认样式===============*/
*{margin: 0;padding: 0;list-style: none;border: none;}
body{font-family: "微软雅黑";color:#fff;background: #F2F2F2;}
a{color:#666;text-decoration: none;}
a:hover{text-decoration: underline;}
input:focus{outline:none;}
h1,h2,h3,h4,h5,h6,b{font-size: 100%;font-weight: normal;}

.wrap{width: 1500px;margin: auto;}

h3{font-size: 50px;position: relative;height: 100px;line-height: 100px;text-align: center;}
h3:before{content:"";width: 182px;height: 1px;display: block;position: absolute;left: 210px;top: 92px;background: #FFFFFF;}
h4{width: 182px;text-align: center;font-size: 22px;height: 40px;line-height: 40px;margin: auto;}


/*===============header=================*/
header{background: url(../images/header-bg.png);width: 100%;height: 1470px;overflow: hidden;}
.header{width: 80%;margin: auto;height: 180px;min-width:500px;}
.header .h-p1{font-size: 60px;color:#fff;}
.header .h-p2{font-size: 24px;color:#fff;width: 294px;height: 62px;background: #38a1fd;text-align: center;line-height: 62px;}
h2{float: left;margin-top: 60px;}
.h-icon{float: right;margin-top: 110px;}
.intro{width: 60%;margin:auto;margin-top: 150px;overflow: hidden;min-width:700px;}
.intro .name{font-size: 50px;}
.intro .name b{color:#f9b02d;}
.intro .welcome{margin-top: 60px;position: relative;}
.intro .welcome:before{content:"";width: 6px;height: 67px;background: #FFFFFF;display: block;position: absolute;left: 232px;top: 4px;}
.intro .welcome .i-p1{font-size: 22px;}
.intro .welcome .i-p2{font-size: 20px;margin-top: 20px;}
.intro .in-left{float: left;margin-top: 17px;}
.intro .in-right{float: right;width: 400px;line-height: 40px;font-size: 18px;}
.zhuang{width: 70%;height: 2px;background: #FFFFFF;margin:auto;margin-top: 200px;}
.about .me{font-size: 50px;position: relative;height: 100px;line-height: 100px;text-align: center;}
.about .me:before{content:"";width: 182px;height: 2px;display: block;position: absolute;left: 210px;top: 92px;background: #FFFFFF;}
.about .a-about{width: 182px;text-align: center;font-size: 22px;height: 40px;line-height: 40px;margin: auto;}
.about{width: 70%;overflow: hidden;margin: auto;margin-top: 50px;}
.about-r{width: 600px;float: right;margin: auto;}
.jian{width: 100%;font-size: 18px;line-height: 60px;margin-top: 20px;}
.jian .j-s1{width: 40%;display: inline-block;text-indent: 40px;}
.jian .j-s2{width: 60%;display: inline-block;text-indent: 20px;}


/*============skill部分==============*/
.sec1{margin-top: 50px;}
.skill{color:#333;width: 600px;margin: auto;font-size: 40px;}
.skill:before{background: #333333;width: 160px;left: 219px;}
.sec1-s{color:#666;font-size: 18px;}
.sec1-icon1{width: 70%;margin: auto;overflow: hidden;margin-top: 60px;}
.sec1-icon1 li{width: 25%;float: left;}
.sec1-icon1 li img{margin: auto;display: block;}
.sec1-icon2{width: 80%;margin: auto;overflow: hidden;margin-top: 60px;margin-bottom: 50px;}
.sec1-icon2 li{width: 16.6%;float: left;}
.sec1-icon2 li img{margin: auto;display: block;}


/*============work部分===============*/
.sec2{background: #DDDDDD;padding-top: 50px;overflow: hidden;}
/*===app===*/
.app{font-size: 30px;color:#0086ff;width: 80%;margin: auto;position: relative;margin-top: 50px;}
.app:before{content:"";width: 100px;height: 3px;display: block;background: #FFFFFF;position: absolute;left: -11px;top: 45px;}
.app-btn{margin: auto;overflow: hidden;width: 1180px;padding-bottom: 50px;}
.app-l{width: 1000px;margin: auto;height: 621px;margin-top: 150px;float: left;}
.app-l ul{position: relative;height: 621px;}
.app-l ul li{position: absolute;left: 0;top: 0;}
.app-l ul li:nth-of-type(1){left: 0;z-index:1}
.app-l ul li:nth-of-type(2){left: 175px;z-index:2;}
.app-l ul li:nth-of-type(3){left: 350px;z-index:3; transform:scale(1.1,1.1);}
.app-l ul li:nth-of-type(4){left: 525px;z-index:2;}
.app-l ul li:nth-of-type(5){left: 700px;z-index:1;}
.app-btnl{float: left;margin-top: 100px;width: 30px;height: 621px;line-height: 621px;margin-right: 60px;cursor: pointer;}
.app-btnr{float: left;margin-top: 100px;width: 30px;height: 621px;line-height: 621px;margin-left: 60px;cursor: pointer;}

/*===web===*/
.web{width: 100%;margin-top: 50px;}
.web-t{font-size: 30px;color:#0086ff;width: 80%;margin: auto;position: relative;}
.web-t:before{content:"";width: 148px;height: 3px;display: block;background: #FFFFFF;position: absolute;left: -11px;top: 45px;}
.web-p{margin-top: 130px;}

/*===banner===*/
.banner{width: 80%;margin: auto;overflow: hidden;min-width:1200px;margin-top: 150px}
.banner-h{width: 17%;float: left;min-width:200px;height: 480px;line-height: 480px;}
.banner-t{font-size: 30px;color:#0086ff;;position: relative;}
.banner-t:before{content:"";width: 3px;height: 30px;display: block;background: #FFFFFF;position: absolute;left: 133px;top: 225px;}
.banner-p{width: 83%;float: right;min-width:1000px;}
.banner-real{width: 1000px;height: 480px;overflow: hidden;position: relative;}
.banner-real ul{width: 100%;height: 100%;position: relative;}
.banner-real ul li{width: 960px;height: 440px;background: url(../images/banner1.jpg) center center; background-size:cover;float: left;position: absolute;left: 0;top: 0;border-radius:8px;}
.banner-real ul li:nth-of-type(2){background: url(../images/banner2.jpg) center center;left: 1000px;}
.banner-real ul li:nth-of-type(3){background: url(../images/banner3.jpg) center center;left: 2000px;}
.banner-real ul li:nth-of-type(4){background: url(../images/banner4.jpg) center center;left: 3000px;}
.banner-real ul li:nth-of-type(5){background: url(../images/banner5.jpg) center center;left: 4000px;}
.banner-pw{padding:20px;width: 1000px;height: 480px;background: #828282;border-radius:10px; box-sizing:border-box;overflow: hidden;margin: auto;}
.banner-real ol{position: absolute;left: 350px;bottom: 50px;}
.banner-real ol li{width: 15px;height: 15px;background: rgba(251,247,247,0.3);border-radius:50%;margin:20px;float: left;}
.banner-real ol li.active{background:#50d6cf;}

/*===icon===*/
.icon{width: 80%;margin: auto;overflow: hidden;min-width:1200px;margin-top: 150px;margin-bottom: 100px;}
.icon-h{width: 17%;float:right;min-width:200px;height: 300px;line-height: 300px;}
.icon-t{font-size: 30px;color:#0086ff;;position: relative;display: inline-block;float: right;}
.icon-t:before{content:"";width: 3px;height: 30px;display: block;background: #FFFFFF;position: absolute;left: -17px;top: 136px;}
.icon-p{width: 83%;float: left;min-width:1000px;}
.icon-real{width: 1000px;height: 300px;overflow: hidden;position: relative;}
.icon-real ul li{width: 300px;height: 300px;border-radius:8px;background: #828282;float: left;text-align: center;line-height: 300px;margin-left: 25px;}
.icon-real ul li img{display: inline-block;vertical-align: middle;border-radius:6px;}


/*===============connect部分===================*/
.sec3{width: 70%;margin: auto;margin-top: 150px;margin-bottom: 150px;}
.connect{width: 1000px;height: 450px;border: 1px solid #333;position: relative;margin: auto;}
.con-t{width: 400px;height: 60px;background:#f2f2f2;color:#333;text-align: center;line-height: 60px;font-size: 40px;position: absolute;left: 300px;top: -30px;}
.connect ul{margin:75px 100px;width: 800px;height: 300px;}
.connect ul li{width: 33.3%;float: left;height: 300px;}
.connect ul li div{width: 100%;height: 200px;text-align: center;line-height: 200px;}
.connect ul li div img{vertical-align: middle;}
.connect ul li p{width: 100%;height: 100px;line-height: 100px;text-align: center;font-size: 20px;color:#999;}














